@mixin flex($aling: center, $justify: center, $direction: row, $gap: 1rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $aling;
  gap: $gap;
}

@mixin shadow-neo($eje, $color, $porcent, $mode: none) {
  $color_ligth: mix($color, #fff, $porcent);
  box-shadow: $eje $eje ($eje * 2) $color $mode,
    (-$eje) (-$eje) ($eje * 2) $color_ligth $mode;
}

@mixin text-neo($eje, $color) {
  text-shadow: $eje $eje ($eje * 2) $color;
}

@mixin break-media($break-point, $size) {
  @media screen and ($break-point: $size) {
    @content;
  }
}
@mixin moveBackground(
  $name: move-to,
  $duration: 3.25s,
  $timing-function: ease,
  $iteration-count: infinite,
  $direction: alternate-reverse
) {
  animation: $name $duration $timing-function $iteration-count $direction;
}
@keyframes move-to {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 130%;
  }
  70% {
    background-size: 160%;
  }
  90% {
    background-size: 200%;
  }
  100% {
    background-size: 300%;
  }
}
