// ------------- Size Headings -------------
$lg: 3em;
$rg: 1.9em;
// ------------- Size Text And Buttons -------------
$md: 1.3em;
$sm: 1.2em;
// ------------- Size mobile -------------
$lg-mb: 2em;
$rg-mb: 1.3em;
$md-mb: 1em;
$sm-mb: 0.9em;
// ------------- Color Title-SubTitle -------------
$soft-dark: #2c3333;
$soft-teal: #2e4f4f;
$ligth-teal: #4b6d6dd0;
// ------------- Color Texts And Buttons -------------
$cyan: #0a6265;
$soft-blue: #88a09b;
// ------------- Bg-Body-Cards -------------
$nav: #3e968729;
$categories-footer: linear-gradient(90deg, #dfdedeae, #07281f27, #008f6b8a);
$agregar-resetas: #67d5d5;
$main: #40cece6c;
$body: radial-gradient(
  circle at top,
  #ffffff,
  rgba(24, 162, 137, 0.268),
  rgba(88, 156, 164, 0.529)
);
// ------------- Colors links -------------
$gray-cyan: #3c545e;
// ------------- Colors links-Hover -------------
$gray-dark: #457d95c9;
