@use "../abtract/mixins" as layout_shadows;
@use "../abtract/varibles" as bg_colors;
.register {
  width: 100%;
  height: 100%;
  &__introduction {
    margin-bottom: 1rem;
  }
  &__label {
    @include layout_shadows.flex(flex-start, space-evenly);
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    &--categories {
      position: relative;
      z-index: 1;
      width: calc(100% / 3 - 1.4rem);
      padding: 1rem 0;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
  &__input {
    flex: 60%;
    text-align: center;
    padding-block: 0.5rem;
    font-size: 1.1rem;
    @include layout_shadows.shadow-neo(0.4rem, #06212511, 100%, inset);
    &--area {
      width: 100%;
      height: 8.625rem;
      resize: none;
    }
    &--recipe {
      width: 100%;
      font-size: 0.9rem;
    }
    &:focus {
      background-image: linear-gradient(
        to top,
        rgba(12, 95, 103, 0.113),
        rgba(255, 255, 255, 0.037)
      );
      outline: transparent;
    }
  }

  &__recipe {
    margin-block: 1rem;
  }
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
  }
  &__wrapperList {
    min-height: 3rem;
    @include layout_shadows.flex($justify: flex-start);
    margin-bottom: 1rem;
  }
  &__btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  &__add {
    text-align: center;
    font-size: 2em;
    line-height: 0.75;
  }
  &__wrapper {
    margin-top: 2rem;
    @include layout_shadows.flex($gap: 10rem);
    @include layout_shadows.break-media(max-width, 480px) {
      @include layout_shadows.flex($gap: 5rem);
    }
  }
  &__categories {
    width: 100%;
    @include layout_shadows.flex($justify: space-evenly);
    position: relative;
  }
  &__inputCategories {
    &:checked + .register__label--categories {
      color: #fff;
    }
  }
  &__tags {
    position: absolute;
    width: calc(100% / 3 - 1.4rem);
    height: 3rem;
    border-radius: 1rem;
    left: 1rem;
    bottom: 1.5rem;
    background-image: linear-gradient(
      to left,
      rgba(63, 118, 169, 0.396),
      rgba(16, 112, 119, 0.379),
      rgba(48, 162, 164, 0.479),
      #77aca567
    );
    background-size: 500% 100%;
    transition: transform 0.4s ease-in-out, background-size 0.6s ease-out;
  }
  $tags-number: 4;
  @for $i from 1 through $tags-number {
    #tags#{$i}:checked ~ &__tags {
      transform: translateX(#{($i - 1) * 110%});
      @include layout_shadows.break-media(max-width, 480px) {
        transform: translateX(#{($i - 1) * 128.5%});
      }
      background-size: (100% + ($i - 1) * 100%) 100%;
    }
  }
  &__nameCategories {
    margin-block: 1.5rem;
  }
}
