@mixin flex($aling: center, $justify: center, $direction: row, $gap: 1rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $aling;
  gap: $gap;
}

@mixin shadow-neo($eje, $color, $porcent, $mode: normal) {
  $color_ligth: mix($color, #fff, $porcent);
  box-shadow: $eje $eje ($eje * 2) $color $mode,
    (-$eje) (-$eje) ($eje * 2) $color_ligth $mode;
}

@mixin text-neo($eje, $color) {
  text-shadow: $eje $eje ($eje * 2) $color;
}

// @mixin break-media($break-point, $size) {
// @media screen and ($break-point: $size) {
// @content;
// }
// }
