// ------------- Size Headings -------------
$lg: 3em;
$rg: 1.9em;
// ------------- Size Text And Buttons -------------
$md: 1.3em;
$sm: 1.2em;
// ------------- Color Title-SubTitle -------------
$soft-dark: #2c3333;
$soft-teal: #2e4f4f;
$ligth-teal: #4b6d6dd0;
// ------------- Color Texts And Buttons -------------
$cyan: #0a6265;
$soft-blue: #88a09b;
// ------------- Bg-Body-Cards -------------
$nav: #3e968729;
$categories-footer: linear-gradient(90deg, #dfdedeae, #21967727, #008f6b8a);
$agregar-resetas: #041515;
$main: #50a196;
$body: radial-gradient(
  180deg,
  rgba(24, 162, 137, 0.431),
  rgba(4, 91, 99, 0.152),
  #ffffff
);
// ------------- Colors links -------------
$gray-cyan: #3c545e;
// ------------- Colors links-Hover -------------
$gray-dark: #457d95c9;
