@use "../abtract/mixins" as layout_shadows;
@use "../abtract/varibles" as colors_bg;
.hero {
  width: 100%;
  min-height: 100vh;
  &__nav {
    padding-block: 2rem;
    @include layout_shadows.flex($direction: column);
    background-color: colors_bg.$nav;
    border-bottom: solid rgba(0, 0, 0, 0.325) 2px;
    @include layout_shadows.break-media(max-width, 480px) {
      @include layout_shadows.flex();
      padding-inline: 1rem;
    }
  }
  &__logo {
    max-width: 6rem;
    @include layout_shadows.break-media(max-width, 480px) {
      max-width: 2.5rem;
    }
  }
  &__title {
    text-shadow: 0.1rem 0.1rem 0.2rem;
    @include layout_shadows.text-neo(0.1rem, #00000085);
    &--introduction {
      @include layout_shadows.text-neo(0.1rem, #efeaeafe);
      margin-bottom: 1.15rem;
      text-align: center;
      hyphens: none;
    }
  }
  &__introduction {
    width: 100%;
    min-height: 40.67rem;
    position: relative;
    @include layout_shadows.flex();
  }
  &__video {
    height: 100%;
    aspect-ratio: 16/6.75;
    position: absolute;
    top: 0;
    left: 0;
    filter: hue-rotate(30deg);
  }
  &__wrapper {
    max-width: 50rem;
    margin-inline: auto;
    position: absolute;
    @include layout_shadows.break-media(max-width, 480px) {
      max-width: 25rem;
    }
  }
  &__description {
    text-align: center;
    font-size: 1.5em;
    @include layout_shadows.break-media(max-width, 480px) {
      font-size: 1em;
    }
  }
}
