@use "../abtract/mixins" as layout_shadows;
@use "../abtract/varibles" as bg_colors;
.addRecipes {
  &__close {
    left: -50rem;
    transition: left 0.25s ease-in;
  }
  &__flag {
    width: 6rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem -0.5rem 1rem #2c7d7d6c;
    @include layout_shadows.flex($justify: flex-start);
    position: absolute;
    right: -6rem;
    top: calc(50% - 2.25rem);
    &--active {
      width: 18rem;
      right: -18rem;
    }
  }
  &__display {
    width: 4rem;
    height: 4rem;
    padding-inline: 1rem;
    font-size: 2em;
    font-weight: 900;
    border-radius: 50%;
    &--active {
      transform: rotate(180deg);
      padding-bottom: 0.2rem;
      transition: 0.25s ease-out 0.63s;
    }
  }
  &__recipe {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.02em;
    white-space: nowrap;
    &--none {
      visibility: hidden;
      position: absolute;
      transition: position 5s ease-in;
    }
  }
}
