@use "../abtract/varibles" as colors_size;
@use "../abtract/mixins" as layout;
@font-face {
  font-family: primary;
  src: url(../assets/font_family_ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: second;
  src: url(../assets/font_family_ubuntu/Ubuntu-Regular.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: colors_size.$body;
  overflow-x: hidden;
}
h1,
h2,
h3,
label,
legend {
  font-family: primary;
}

h1,
h2 {
  font-size: colors_size.$lg;
}

h3 {
  font-size: colors_size.$rg;
}

h1 {
  color: colors_size.$soft-dark;
  letter-spacing: 0.05em;
}

h2 {
  color: colors_size.$soft-teal;
  letter-spacing: 0.03em;
}

h3 {
  color: colors_size.$ligth-teal;
}

p,
span,
button,
a,
li {
  font-family: second;
}

p {
  font-size: colors_size.$md;
  color: colors_size.$soft-blue;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button {
  font-size: colors_size.$sm;
  color: colors_size.$cyan;
  background-color: #fff;
  cursor: pointer;
  transition: color 0.25s ease-in-out, background-color 0.2s ease-in;
  &:hover {
    background-color: mix(#fff, #0a4e32, 17%);
    color: #fff;
    transition: 0.25s ease;
  }
}
a {
  color: colors_size.$gray-cyan;
  &:hover {
    color: colors_size.$gray-dark;
  }
}
label,
legend {
  font-size: 1.25rem;
}
@include layout.break-media(max-width, 480px) {
  h1,
  h2 {
    font-size: colors_size.$lg-mb;
    text-align: center;
  }

  h3 {
    font-size: colors_size.$rg-mb;
  }
  p {
    font-size: colors_size.$md-mb;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  button {
    font-size: colors_size.$sm-mb;
  }

  label,
  legend {
    font-size: 1.1rem;
  }
}
