@use "../abtract/varibles" as bg_colors;
@use "../abtract/mixins" as layout_bxsha;
.footer {
  height: 5rem;
  background-image: bg_colors.$categories-footer;
  &__nav {
    height: 100%;
  }

  &__list {
    height: 100%;
    @include layout_bxsha.flex($gap: 3rem);
  }

  &__link {
    font-size: 1.5em;
    &--active {
      color: rgb(12, 43, 33);
      font-size: 1.14em;
      font-weight: 900;
    }
  }
}
