.footer {
  height: 5rem;
  // background-color: ;
  &__nav {
    height: 100%;
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__link {
    font-size: 1.5em;
    &--active {
      color: rgb(12, 43, 33);
      font-size: 1.14em;
      font-weight: 900;
    }
  }
}
